.navigation-button {
  width: 40px;
  height: 40px;

  display: inline-block;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;

  @include aline-list();

  cursor: pointer;
  &:focus,
  &:hover .close-button__icon {
    fill: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.close-button__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu {
  position: fixed;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  top: 0px;
  z-index: 5;
  padding-bottom: 50px;
  .container {
    display: flex;
    flex-direction: column;

    height: 100%;
  }

  .mob-menu_bottom {
    margin-top: auto;
  }
}
.mob-menu_button {
  display: block;
  margin-left: auto;
  padding-top: 21px;

  border: none;
  background-color: transparent;

  @include aline-list();

  cursor: pointer;
  &:focus,
  &:hover .mob-menu_button_icon {
    fill: var(--accent-color);
  }
}

.mob-menu__item {
  & + & {
    margin-top: 30px;
  }
}
.mob-menu__link {
  display: block;
  padding-left: 40px;

  @include font(40px, 1.17, 0.02em, 500);

  color: var(--main-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.mob-menu__link__current {
  color: var(--accent-color);
}

.mob-menu_contact {
  padding-left: 40px;
}
.mob-menu_contact__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mob-menu_contact__link-tel {
  color: var(--accent-color);
  @include font(34px, 1.17, 0.02em, 500);
}
.mob-menu_contact__link-mail {
  @include font(24px, 1.16, 0.02em, 500);
  color: var(--second-text-color);
}

.mob-menu_social-list {
  display: flex;

  padding-left: 40px;
  margin-top: 64px;
}
.mob-menu_social-list_item {
  &:not(:first-child)::before {
    content: ' ';
    width: 22px;
    height: 0px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.mob-menu_social-list_link {
  color: var(--accent-color);
  @include font(18px, 1.22, 0.02em, 500);
}
